In [1]:
import pandas as pd  #importamos pandas

Cargamos la data y verificamos las columnas y filas.

In [2]:
Data = pd.read_csv('Dataset-20230613T223047Z-001\Dataset\movies_dataset.csv') #llamamos al dataframe
Data.shape  # cantidad de columnas y filas

C:\Users\jorge\AppData\Local\Temp\ipykernel_4944\3023539948.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  Data = pd.read_csv('Dataset-20230613T223047Z-001\Dataset\movies_dataset.csv') #llamamos al dataframe

(45466, 24)

In [3]:
#informacion resumida del Dataframe  
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
Data.duplicated().sum()   ### verificamos y  hay duplicados

13

In [354]:
### eliminamos duplicados 

NewData= Data.drop_duplicates()

In [355]:
# Contar la cantidad de valores nulos en todo el DataFrame
cantidad_nulos =NewData.isnull().sum()
cantidad_nulos

adult                        0
belongs_to_collection    40959
budget                       0
genres                       0
homepage                 37673
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25045
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [356]:
# observamos que columnas contienen datos anidados ademas de  belongs_to_collection, production_companies, spoken_languages,tambien tenemos production_countries y spoken_languages.

NewData[['belongs_to_collection','genres','production_companies',
       'production_countries',
       'spoken_languages']].head(5)

,belongs_to_collection,genres,production_companies,production_countries,spoken_languages
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"

In [357]:
NewData.reset_index(drop=True, inplace=True)   # restablecemos los indices antes de la eliminación de filas.

Cuando se trabajo con las columnas 'production_companies' y production countries',se detectaron filas con valores nan como float, revisando las filas
pude detectar que no contienen datos importantes.

In [358]:
indices_a_eliminar = []
for index, lista in enumerate(NewData['production_companies']): 
#iteramos la columna production_companies obteniendo los valores y guardando los indices en una lista
    if isinstance(lista, float): ## los valores que obtenemos son valores de tipo float
        indices_a_eliminar.append(index)
if indices_a_eliminar:
    NewData.drop(indices_a_eliminar, axis=0, inplace=True) ### eliminamos lalista de indices
else:
    print('no se encontraron valores para eliminar')

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\1073493403.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop(indices_a_eliminar, axis=0, inplace=True) ### eliminamos lalista de indices

In [359]:
# Reemplazamos los valores no numéricos y nulos en la columna id con NaN
NewData['id'] = pd.to_numeric(NewData['id'], errors='coerce')
#Se utiliza para convertir los valores de la columna a números y se establece errors='coerce'
#  para que los valores no numéricos se reemplacen con NaN (valores faltantes)

# Luego, convierte los valores restantes a enteros
NewData['id'] = NewData['id'].astype('Int64')

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\3987015321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['id'] = pd.to_numeric(NewData['id'], errors='coerce')
C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\3987015321.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['id'] = NewData['id'].astype('Int64')

In [360]:
# En esta iteración estamos viendo los valores float de la columna belong_to_collection para limpiarlos.
lista_de_float=[]
NewData['belongs_to_collection'].fillna('{}', inplace=True) ### rellenamos los none con diccionarios vacios para poder iterar
for index, row in NewData.iterrows():
    if pd.notnull(row['belongs_to_collection']):
        newJson = (eval(row['belongs_to_collection'])) #con eval transformamos los string en listas

        if isinstance(newJson, float):   #verificamos que el elemento sea del tipo especificado
            lista_de_float.append(index)   #agregamos los indices de las filas para borrar los floats
            print(index,newJson)

##Borramos las filas del DataFrame que contengan valores float
NewData.drop(lista_de_float, inplace=True)

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2000988871.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['belongs_to_collection'].fillna('{}', inplace=True) ### rellenamos los none con diccionarios vacios para poder iterar

19725 0.065736
29491 1.931659
35575 2.185485

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2000988871.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop(lista_de_float, inplace=True)

Desanidamos la columna Belongs to collection del data frame original NewData y creamos un dataframe belongs_to_collection

In [361]:
# Crear listas vacías para los valores
id_belongs_to_collection = []
name_belongs_to_collection = []
poster_path_belongs_to_collection = []
backdrop_path_belongs_to_collection = []
Data['belongs_to_collection'].fillna('{}', inplace=True)   # a los valores nulos asignamos dccionarios vacios

for index, row in NewData.iterrows(): #iteramos sobre las filas , devolviendo un iterador que proporciona pares de índice y
    # serie correspondientes a cada fila.
         newJson = (eval(row['belongs_to_collection']))    #eval() evaluará esa cadena y asignará el resultado 
### agregamos valores a las listas vacias
         idBelongsInt = newJson.get('id')
         if idBelongsInt is not None:
            int(idBelongsInt) / 1
         id_belongs_to_collection.append(idBelongsInt)
         name_belongs_to_collection.append(newJson.get('name'))
         poster_path_belongs_to_collection.append(newJson.get('poster_path'))
         backdrop_path_belongs_to_collection.append(newJson.get('backdrop_path'))
         

# Agregamos  las columnas al nuevo DataFrame junto al id

Belong_to_collection= pd.DataFrame()
Belong_to_collection['id'] = NewData['id']
Belong_to_collection['id_belongs_to_collection'] = id_belongs_to_collection
Belong_to_collection['name_belongs_to_collection'] = name_belongs_to_collection
Belong_to_collection['poster_path_belongs_to_collection'] = poster_path_belongs_to_collection
Belong_to_collection['backdrop_path_belongs_to_collection'] = backdrop_path_belongs_to_collection

In [362]:
Belong_to_collection

,id,id_belongs_to_collection,name_belongs_to_collection,poster_path_belongs_to_collection,backdrop_path_belongs_to_collection
0,862,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,8844,NaN,None,None,None
2,15602,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,31357,NaN,None,None,None
4,11862,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
...,...,...,...,...,...
45448,439050,NaN,None,None,None
45449,111109,NaN,None,None,None
45450,67758,NaN,None,None,None
45451,227506,NaN,None,None,None
45452,461257,NaN,None,None,None

In [363]:
contador_nan = Belong_to_collection['id'].isna().sum()   #contador de nan
print(contador_nan)

0

In [365]:
Belong_to_collection['id_belongs_to_collection'].value_counts() #calculamos el número de apariciones de cada elemento

415931.0    29
421566.0    27
645.0       26
96887.0     26
37261.0     25
            ..
147207.0     1
260520.0     1
268014.0     1
479549.0     1
200641.0     1
Name: id_belongs_to_collection, Length: 1695, dtype: int64

In [366]:
# Identifico las columnas que quiero limpiar
columnas_limpiar = ['id_belongs_to_collection', 'name_belongs_to_collection']

# Creo un nuevo DataFrame para almacenar los valores no repetidos
df_belongs = pd.DataFrame()

# Iteramos sobre las columnas y obtenemos los valores no repetidos a travez de unique
for columna in columnas_limpiar:
    valores_no_repetidos = Belong_to_collection[columna].unique()
    # Agregamos los valores no repetidos al nuevo DataFrame
    df_belongs[columna] = valores_no_repetidos

# Agregamos las columnas adicionales del DataFrame original al DataFrame limpio
columnas_adicionales = ['id']

# Reemplazamos con la columna adicional.

for columna in columnas_adicionales:
    df_belongs[columna] = Belong_to_collection[columna]

# Guardamos el DataFrame limpio en un nuevo archivo CSV
df_belongs.to_csv('belongs.csv', index=False)

In [367]:
Belong_to_collection.dropna(subset=['id_belongs_to_collection'], inplace=True)
#borramos los valores nulos a partir de la columna id belong to collection,ya que ahi podemos seleccionar la mayoria de los valores nulos.

In [368]:
# agregamos los valores desanidados al dataframe original

NewData.insert(1,'id_belongs_to_collection', id_belongs_to_collection)
NewData.insert(2,'name_belongs_to_collection' , name_belongs_to_collection)
NewData.insert(3,'poster_path_belongs_to_collection', poster_path_belongs_to_collection)
NewData.insert(4,'backdrop_path_belongs_to_collection', backdrop_path_belongs_to_collection)

In [369]:
### eliminamos la columna belong_to_collection original

NewData.drop('belongs_to_collection',axis=1, inplace=True)

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2559169508.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop('belongs_to_collection',axis=1, inplace=True)

In [370]:
NewData[['genres']]

                                                  genres
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
45448  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45449                      [{'id': 18, 'name': 'Drama'}]
45450  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45451                                                 []
45452                                                 []

[45447 rows x 1 columns]

In [371]:
empty_count = 0  # Variable para contar las listas vacías

# Iterarmos sobre la columna y verificamos listas vacías
for index, lista in enumerate(NewData['genres']):
    otherList = eval(lista) if lista else []  # Convertir a lista, considerando listas vacías
    if len(otherList) == 0:  # Verificamos si la lista está vacía
        empty_count += 1  # Incrementamos el contador de listas vacías

# Imprimimos el total de listas vacías encontradas
print("Total de listas vacías:", empty_count)

Total de listas vacías: 2442

In [372]:
NewData.reset_index(drop=True, inplace=True)   # restablecemos los indices antes de la eliminación de filas

In [373]:
# Creo listas vacías para almacenar los valores de id y name
id_values = []
name_values = []

# Recorremos el DataFrame original
for lista in NewData['genres']:
    otherList = eval(lista) if lista else []  # Convierto a lista, considerando lista vacía
    
    # Verificar si la lista está vacía
    if len(otherList) == 0:
        id_val = None
        name_val = None
    else:
        # Obtengo todos los valores de id y name en la lista
        id_vals = [item.get('id') for item in otherList]
        name_vals = [item.get('name') for item in otherList]
        
        id_val = id_vals
        name_val = name_vals
    
    # Agregamos los valores a las listas correspondientes
    id_values.append(id_val)
    name_values.append(name_val)


#agregamos los valores al dataframe original.

NewData.insert(5,'id_genres',id_values)
NewData.insert(6,'name_genres' ,name_values)

In [374]:
 #Crear listas vacías para los valores
id_genres = []
name_genres = []
id_original = []

for index, valor in enumerate(NewData['id_genres']):
    if valor != None:
        for index2, valor2 in enumerate(valor):
            id_genres.append(valor2)
            name_genres.append(NewData['name_genres'][index][index2])
            id_original.append(NewData['id'][index])  # Agregamos id peliculas 


# Creamos un nuevo DataFrame
# Agregamos las columnas al nuevo DataFrame
genres = pd.DataFrame()
genres['id'] = id_original
genres['id_genres'] = id_genres
genres['name_genres'] = name_genres

genres.head(5)

     id  id_genres name_genres
0   862         16   Animation
1   862         35      Comedy
2   862      10751      Family
3  8844         12   Adventure
4  8844         14     Fantasy

In [375]:

# Identifico las columnas que quiero limpiar
columnas_limpiar = ['id_genres','name_genres']

# Creamos un nuevo DataFrame para almacenar los valores no repetidos
df_genres = pd.DataFrame()

# Iteramos sobre las columnas y obtenemos los valores no repetidos
for columna in columnas_limpiar:
    valores_no_repetidos = genres[columna].unique()  ### valores únicos 
# Agregamos los valores no repetidos al nuevo DataFrame
    df_genres[columna] = valores_no_repetidos
# Agregamos las columnas adicionales del DataFrame original al DataFrame limpio en este caso el id peliculas
columnas_adicionales = ['id']

for columna in columnas_adicionales:
    df_genres[columna] = genres[columna]

# Guardamos el DataFrame limpio en un nuevo archivo CSV
df_genres.to_csv('genres.csv', index=False)

In [376]:
NewData.drop('genres',axis=1, inplace=True)  # elimino la columna genres del dataframe original

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2196064759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop('genres',axis=1, inplace=True)  # elimino la columna genres del dataframe original

In [377]:
# Restablecemos los índices después de la eliminación de filas
NewData.reset_index(drop=True, inplace=True)

In [378]:
NewData[['production_companies']].head(5)

                                production_companies
0     [{'name': 'Pixar Animation Studios', 'id': 3}]
1  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3  [{'name': 'Twentieth Century Fox Film Corporat...
4  [{'name': 'Sandollar Productions', 'id': 5842}...

In [379]:
empty_count = 0  # Variable para contar las listas vacías  ### se encontraron valores reconocidos como float

# Iterar sobre la columna y verificar listas vacías
for index, lista in enumerate(NewData['production_companies']):
        otherList = eval(lista) if lista else "[]"  # Convertir a lista, considerando listas vacías
        if len(otherList) == 0:  # Verificar si la lista está vacía
            empty_count += 1  # Incrementar el contador de listas vacías

# Imprimir el total de listas vacías encontradas
print("Total de listas vacías:", empty_count)

Total de listas vacías: 11872

In [380]:
NewData['production_companies']

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45442                                                   []
45443               [{'name': 'Sine Olivia', 'id': 19653}]
45444    [{'name': 'American World Pictures', 'id': 6165}]
45445                 [{'name': 'Yermoliev', 'id': 88753}]
45446                                                   []
Name: production_companies, Length: 45447, dtype: object

In [381]:
# Creamos listas vacías para almacenar los valores de id y name
name_values = []
id_values = []


# Recorremos el DataFrame original
for lista in NewData['production_companies']:
        otherList = eval(lista) if lista else []  # Convierto a lista, considerando lista vacía
    
    # Verificamos si la lista está vacía
        if len(otherList) == 0:
            name_val = None
            id_val = None
        else:
        # Obtengo todos los valores de id y name en la lista
            name_vals = [item.get('name') for item in otherList]
            id_vals = [item.get('id') for item in otherList]
            
        
       #valores
            name_val = name_vals
            id_val = id_vals
        
    
    # Agregamos los valores a las listas correspondientes
        name_values.append(name_val)
        id_values.append(id_val)

#agregamos los valores desanidados al dataframe original
NewData.insert(7,'id_companies',id_values)
NewData.insert(8,'name_companies' ,name_values)

In [382]:
# Creamos listas vacías para los valores
id_original= []
id_companies = []
name_companies= []

for index, valor in enumerate( NewData['id_companies']):
    if valor != None:
      for index2, valor2 in enumerate(valor):
        id_companies.append(valor2)
        name_companies.append(NewData['name_companies'][index][index2])
        id_original.append(NewData['id'][index])  # Agregar id original


# Creamos un nuevo DataFrame
# Agregamos las columnas al nuevo DataFrame
companies= pd.DataFrame()
companies['id'] = id_original
companies['id_companies'] = id_companies
companies['name_companies'] = name_companies

companies.head(10)

      id  id_companies                          name_companies
0    862             3                 Pixar Animation Studios
1   8844           559                        TriStar Pictures
2   8844          2550                            Teitler Film
3   8844         10201               Interscope Communications
4  15602          6194                            Warner Bros.
5  15602         19464                          Lancaster Gate
6  31357           306  Twentieth Century Fox Film Corporation
7  11862          5842                   Sandollar Productions
8  11862          9195                     Touchstone Pictures
9    949           508                     Regency Enterprises

In [383]:

# Identificamos las columnas que quiero limpiar
columnas_limpiar = ['id_companies']

# Creamos un nuevo DataFrame para almacenar los valores no repetidos
df_companies = pd.DataFrame()

# Iteramos sobre las columnas y obtenemos los valores no repetidos
for columna in columnas_limpiar:
    valores_no_repetidos = companies[columna].unique()  ### valores únicos 
# Agregamos los valores no repetidos al nuevo DataFrame
    df_companies[columna] = valores_no_repetidos
# Agregamos las columnas adicionales del DataFrame original al DataFrame limpio
columnas_adicionales = ['id','name_companies']  

for columna in columnas_adicionales:
    df_companies[columna] = companies[columna]

# Guardamos el DataFrame limpio en un nuevo archivo CSV
df_companies.to_csv('companies.csv', index=False)

In [384]:
NewData.drop('production_companies',axis=1, inplace=True)  # elimino la columna production companies

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2848799603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop('production_companies',axis=1, inplace=True)  # elimino la columna production companies

In [385]:
empty_count = 0  # Variable para contar las listas vacías  ### se encontraron valores reconocidos como float

# Iterar sobre la columna y verificar listas vacías
for index, lista in enumerate(NewData['production_countries']):
        otherList = eval(lista) if lista else "[]"  # Convertir a lista, considerando listas vacías
        if len(otherList) == 0:  # Verificar si la lista está vacía
            empty_count += 1  # Incrementar el contador de listas vacías

# Imprimir el total de listas vacías encontradas
print("Total de listas vacías:", empty_count)

Total de listas vacías: 6280

In [386]:
# Restablecemos los índices después de la eliminación de filas
NewData.reset_index(drop=True, inplace=True)

In [387]:
# Creamos listas vacías para almacenar los valores de id y name
name_values = []
iso_values =[]


# Recorremos el DataFrame original
for lista in NewData['production_countries']:
        otherList = eval(lista) if lista else []  # Convierto a lista, considerando lista vacía
    
    # Verificamos si la lista está vacía
        if len(otherList) == 0:
            name_val = None
            iso_val = None
        else:
        # Obtengo todos los valores de id y name en la lista
            name_vals = [item.get('name') for item in otherList]
            iso_vals = [item.get('iso_3166_1') for item in otherList]
            
            for index, value in enumerate(iso_vals):   #en este caso se observo que repetia Congo cuando en realidad pertenecia a Democratic Republic of the Congo
                if value == "CD":
                     name_vals[index] = "Democratic Republic of the Congo"
        
        # Valores
            name_val = name_vals
            iso_val = iso_vals
               
    
    # Agregamos los valores a las listas correspondientes
        name_values.append(name_val)
        iso_values.append(iso_val)

In [388]:
#agregamos los valores desanidados al dataframe original.
NewData.insert(9,'iso_3166_1_countries',iso_values)
NewData.insert(10,'name_countries' ,name_values)

In [389]:
# Creamos listas vacías para los valores
id_original= []
iso_countries= []
name_countries= []

for index, valor in enumerate( NewData['iso_3166_1_countries']):
    if valor != None:
      for index2, valor2 in enumerate(valor):
         iso_countries.append(valor2)
         name_countries.append(NewData['name_countries'][index][index2])
         id_original.append(NewData['id'][index])  # Agregamos id peliculas

# Creamos un nuevo DataFrame
# Agregamos las columnas al nuevo DataFrame
countries= pd.DataFrame()
countries['id']= id_original
countries['iso_3166_1_countries'] = iso_countries
countries['name_countries'] = name_countries

countries.head(2)

     id iso_3166_1_countries            name_countries
0   862                   US  United States of America
1  8844                   US  United States of America

In [390]:
countries['iso_3166_1_countries'].value_counts()

US    21150
GB     4091
FR     3936
DE     2250
IT     2168
      ...
MG        1
SO        1
KW        1
MQ        1
GN        1
Name: iso_3166_1_countries, Length: 161, dtype: int64

In [391]:
# Identifico las columnas que quiero limpiar
columnas_limpiar = ['iso_3166_1_countries', 'name_countries']

# Creo un nuevo DataFrame para almacenar los valores no repetidos
df_countries = pd.DataFrame()

# Iteramos sobre las columnas y obtenemos los valores no repetidos
for columna in columnas_limpiar:
    valores_no_repetidos = countries[columna].unique()  # valores únicos 
# Agregamos los valores no repetidos al nuevo DataFrame
    df_countries[columna] = valores_no_repetidos
# Agregamos las columnas adicionales del DataFrame original al DataFrame limpio
columnas_adicionales = ['id'] 

for columna in columnas_adicionales:
    df_countries[columna] = companies[columna]
# Guardamos el DataFrame limpio en un nuevo archivo CSV
df_countries.to_csv('countries.csv', index=False)

In [392]:
NewData.drop('production_countries',axis=1, inplace=True)  ## elimino la columna de NewData

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2601622794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop('production_countries',axis=1, inplace=True)  ## elimino la columna de NewData

In [393]:
empty_count = 0  # Variable para contar las listas vacías  ### se encontraron valores reconocidos como float

# Iterar sobre la columna y verificar listas vacías
for index, lista in enumerate(NewData['spoken_languages']):
        otherList = eval(lista) if lista else "[]"  # Convertir a lista, considerando listas vacías
        if len(otherList) == 0:  # Verificar si la lista está vacía
           empty_count += 1  # Incrementar el contador de listas vacías

# Imprimir el total de listas vacías encontradas
print("Total de listas vacías:", empty_count)

Total de listas vacías: 3827

In [394]:
# Creamos listas vacías para almacenar los valores de id y name
name_values = []
iso_values =[]


# Recorremos el DataFrame original
for lista in NewData['spoken_languages']:
        otherList = eval(lista) if lista else []  # Convierto a lista, considerando lista vacía
    
    # Verificamos si la lista está vacía
        if len(otherList) == 0:
            name_val = None
            iso_val = None
        else:
        # Obtengo todos los valores de id y name en la lista
            name_vals = [item.get('name') for item in otherList]
            iso_vals = [item.get('iso_639_1') for item in otherList]
            listIndex = []
            for index, value in enumerate(name_vals):
                if value == '':
                    listIndex.append(index)        #languages sin el nombre
                if value == "??????":
                     name_vals[index] = "Кыргыз тили"
                if value == "?????":
                     name_vals[index] = "ಕನ್ನಡ"
            listIndex.sort(reverse=True)
            for listIn in listIndex:
                del name_vals[listIn]
                del iso_vals[listIn]
        #  valores 
            name_val = name_vals
            iso_val = iso_vals
            
    
    # Agregamos los valores a las listas correspondientes
        name_values.append(name_val)
        iso_values.append(iso_val)

#agregamos los valores desanidados al dataframe original

NewData.insert(11,'iso_639_1_languages',iso_values)
NewData.insert(12,'name_languages' ,name_values)

In [395]:
# Creamos listas vacías para los valores
id_original= []
iso_languages= []
name_languages= []

for index, valor in enumerate( NewData['iso_639_1_languages']): 
    if valor != None:
      for index2, valor2 in enumerate(valor):
         iso_languages.append(valor2)
         name_languages.append(NewData['name_languages'][index][index2])
         id_original.append(NewData['id'][index])  # Agregar ID original
         

# Creamos un nuevo DataFrame
# Agregamos las columnas al nuevo DataFrame
languages= pd.DataFrame()
languages['id'] = id_original
languages['iso_639_1_languages'] = iso_languages
languages['name_languages'] = name_languages

languages.head(2)

     id iso_639_1_languages name_languages
0   862                  en        English
1  8844                  en        English

In [396]:
languages['iso_639_1_languages'].value_counts()

en    28740
fr     4195
de     2624
es     2413
it     2367
      ...
mt        3
ff        2
be        2
uz        2
ha        1
Name: iso_639_1_languages, Length: 74, dtype: int64

In [397]:
# Identifico las columnas que quiero limpiar
columnas_limpiar = ['iso_639_1_languages','name_languages']

# Creo un nuevo DataFrame para almacenar los valores no repetidos
df_languages = pd.DataFrame()

# Iteramos sobre las columnas y obtenemos los valores no repetidos
for columna in columnas_limpiar:
    valores_no_repetidos = languages[columna].unique()  ### valores únicos 
# Agregamos los valores no repetidos al nuevo DataFrame
    df_languages[columna] = valores_no_repetidos
# Agregamos las columnas adicionales del DataFrame original al DataFrame limpio
columnas_adicionales = ['id']  

for columna in columnas_adicionales:
    df_languages[columna] = languages[columna]

# Guardamos el DataFrame limpio en un nuevo archivo CSV
df_languages.to_csv('languages.csv', index=False)

In [398]:
NewData.drop('spoken_languages',axis=1, inplace=True)  # elimino la columna del dataframe NewData

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\3271976408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop('spoken_languages',axis=1, inplace=True)  # elimino la columna del dataframe NewData

#### rellenar columna  revenue, budget por el número 0.

In [399]:
NewData['revenue'].fillna(0, inplace=True)
NewData['budget'].fillna(0, inplace=True)  #Los campos nulos son rellenados con ceros.

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\1872805958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['revenue'].fillna(0, inplace=True)
C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\1872805958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['budget'].fillna(0, inplace=True)  ### Los campos nulos son rellenados con ceros.

In [400]:
NewData['budget']= NewData['budget'].astype(float).round(2) # convertimos los valores de la columna budget en float

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\1461612893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['budget']= NewData['budget'].astype(float).round(2) ## convertimos los valores de la columna budget en float

Los valores nulos del campo release date deben eliminarse.

In [401]:
#contar los valores 'None' en la columna ...
count_none = NewData['release_date'].isnull().sum()

print("Número de valores 'None' en la columna:", count_none)

Número de valores 'None' en la columna: 84

In [402]:
#Devolvemos una expresion booleana si es nulo es True y si se cumple la otra condicion en donde los valores son cadena 'nan', 
# drop elimina las filas teniendo en cuenta el indice como argumento.Inplace true por que estamos modificando el dataframe original.
NewData.drop(NewData[(NewData['release_date'].isnull()) | (NewData['release_date'] == 'nan')].index, inplace=True)

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\990254014.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.drop(NewData[(NewData['release_date'].isnull()) | (NewData['release_date'] == 'nan')].index, inplace=True)

De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [403]:
NewData['release_date']=pd.to_datetime(NewData['release_date'], format="%Y-%m-%d", errors='ignore')

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\3508229484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['release_date']=pd.to_datetime(NewData['release_date'], format="%Y-%m-%d", errors='ignore')

Creo la columna release_year donde extraigo  el año de la fecha de estreno

In [404]:
NewData['release_year']=NewData['release_date'].dt.year

NewData['release_year']

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\4032414168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['release_year']=NewData['release_date'].dt.year

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45441    1991
45443    2011
45444    2003
45445    1917
45446    2017
Name: release_year, Length: 45363, dtype: int64

Creo la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos se deberá tomar el valor 0.

In [405]:
# Creamos una nueva columna 'return' con el cálculo del retorno de inversión
mask = (pd.notnull(NewData['revenue'])) & ((pd.notnull(NewData['budget'])) & (NewData['budget'] != 0))
NewData['return'] = NewData['revenue'] / NewData['budget']
NewData['return'] = NewData['return'].mask(~mask, 0)
NewData['return'] = NewData['return'].round(2)  # Redondear a dos decimales

C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2870783009.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['return'] = NewData['revenue'] / NewData['budget']
C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2870783009.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['return'] = NewData['return'].mask(~mask, 0)
C:\Users\jorge\AppData\Local\Temp\ipykernel_9808\2870783009.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData['return'] = NewData['return'].round(2)  # Redondear a dos decimales

Eliminar columnas.

In [406]:
columnas = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
NewData= NewData.drop(columnas, axis=1)

In [407]:
columnas = ['poster_path_belongs_to_collection','backdrop_path_belongs_to_collection',]
NewData= NewData.drop(columnas, axis=1)

Creación del dataframe limpio

In [408]:
NewData.to_csv('DataLimpia.csv', index=False)

In [409]:
creditos= pd.read_csv('C:/Users/jorge/OneDrive/Escritorio/PI_ML_OPS/Dataset-20230613T223047Z-001/Dataset/credits.csv')

creditos

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

Datos desanidados de la columna cast del dataframe original

In [410]:
# Creo listas vacías para almacenar los valores
cast_id_list = []
cast_character_list = []
cast_credit_id_list = []
cast_gender_list = []
id_actors= []
cast_name_list = []
cast_order_list = []
cast_profile_path_list = []

# Recorremos el DataFrame original
for lista in creditos['cast']:
    otherList = eval(lista)  # Convierto a lista
    
    # Verificar si la lista está vacía
    if len(otherList) == 0:
        # Si la lista está vacía, asignar valores nulos a las listas correspondientes
        cast_id_val = None
        cast_character_val = None
        cast_credit_id_val = None
        id_actor=None
        cast_gender_val = None
        cast_name_val = None
        cast_order_val = None
        cast_profile_path_val = None
    else:
        # Obtener los valores de cada campo en la lista
        cast_id_vals = [item.get('cast_id') for item in otherList]
        cast_character_vals = [item.get('character') for item in otherList]
        cast_credit_id_vals = [item.get('credit_id') for item in otherList]
        cast_gender_vals = [item.get('gender') for item in otherList]
        id_vals = [int(item.get('id')) for item in otherList if item is not None]
        cast_name_vals = [item.get('name') for item in otherList]
        cast_order_vals = [item.get('order') for item in otherList]
        cast_profile_path_vals = [item.get('profile_path') for item in otherList]

        cast_id_val = cast_id_vals
        cast_character_val = cast_character_vals
        cast_credit_id_val = cast_credit_id_vals
        cast_gender_val = cast_gender_vals
        id_actor = id_vals
        cast_name_val = cast_name_vals
        cast_order_val = cast_order_vals
        cast_profile_path_val = cast_profile_path_vals
            
    # Agregamos los valores a las listas correspondientes
    cast_id_list.append(cast_id_val)
    cast_character_list.append(cast_character_val)
    cast_credit_id_list.append(cast_credit_id_val)
    cast_gender_list.append(cast_gender_val)
    id_actors.append(id_actor)
    cast_name_list.append(cast_name_val)
    cast_order_list.append(cast_order_val)
    cast_profile_path_list.append(cast_profile_path_val)

# Asignar los valores al DataFrame original
creditos['cast_id'] = cast_id_list
creditos['cast_character'] = cast_character_list
creditos['cast_credit_id'] = cast_credit_id_list
creditos['cast_gender'] = cast_gender_list
creditos['id_actors'] = id_actors
creditos['cast_name'] = cast_name_list
creditos['cast_order'] = cast_order_list
creditos['cast_profile_path'] = cast_profile_path_list

# Mostrar el DataFrame resultante
creditos.head(2)

,cast,crew,id,cast_id,cast_character,cast_credit_id,cast_gender,id_actors,cast_name,cast_order,cast_profile_path
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6..."

CREACIÓN DE NUEVO DATA SET CAST

In [411]:
# Creo listas vacías para almacenar los valores

cast_id = []
cast_character = []
cast_credit_id = []
cast_gender = []
id_actors=[]
cast_name = []
cast_order = []
cast_profile_path = []
id= []

# Recorremos el DataFrame original
for index, lista in enumerate(creditos['cast']):
    otherList = eval(lista)  # Convierto a lista
    
    # Verificar si la lista está vacía
    if len(otherList) == 0:
        # Si la lista está vacía, asignar valores nulos
        id.append(creditos['id'][index])  # Agregar ID original
        cast_id.append(None)
        cast_character.append(None)
        cast_credit_id.append(None)
        cast_gender.append(None)
        id_actors.append(None)
        cast_name.append(None)
        cast_order.append(None)
        cast_profile_path.append(None)
    else:
        # Obtener los valores de cada campo en la lista
        for item in otherList:
            id.append(creditos['id'][index])  # Agregar ID original
            cast_id.append(item.get('cast_id'))
            cast_character.append(item.get('character'))
            cast_credit_id.append(item.get('credit_id'))
            cast_gender.append(item.get('gender'))
            id_actors.append(int(item.get('id')))
            cast_name.append(item.get('name'))
            cast_order.append(item.get('order'))
            cast_profile_path.append(item.get('profile_path'))

# Crear un nuevo DataFrame con los valores extraídos
new_data_cast = pd.DataFrame({
    'id': id,
    'cast_id': cast_id,
    'cast_character': cast_character,
    'cast_credit_id': cast_credit_id,
    'cast_gender': cast_gender,
    'id_actors':id_actors,
    'cast_name': cast_name,
    'cast_order': cast_order,
    'cast_profile_path': cast_profile_path
})

In [412]:
creditos.drop('cast',axis=1, inplace=True)  ## elimino la columna cast de creditos

In [413]:
new_data_cast['cast_id'].value_counts()

4.0       26777
5.0       25655
3.0       25594
6.0       24006
2.0       22846
          ...
344.0         1
1099.0        1
1098.0        1
1097.0        1
438.0         1
Name: cast_id, Length: 574, dtype: int64

In [414]:
# Identifico las columnas que quiero limpiar
columnas_limpiar = ['cast_id']

# Creo un nuevo DataFrame para almacenar los valores no repetidos
df_cast = pd.DataFrame()

# Iteramos sobre las columnas y obtenemos los valores no repetidos
for columna in columnas_limpiar:
    valores_no_repetidos = new_data_cast[columna].unique()
# Agregamos los valores no repetidos al nuevo DataFrame
    df_cast[columna] = valores_no_repetidos

# Agregamos las columnas adicionales del DataFrame original al DataFrame limpio
columnas_adicionales = ['id', 'cast_id','cast_credit_id','cast_gender','id_actors','cast_name','cast_order']


for columna in columnas_adicionales:
    df_cast[columna] = new_data_cast[columna]

# Guardamos el DataFrame limpio en un nuevo archivo CSV
df_cast.to_csv('cast.csv', index=False)


Desanidamos la columna crew

In [415]:
# Creo listas vacías para almacenar los valore
id_crew_list = []
credit_job_list = []
credit_name_list = []

# Recorremos el DataFrame original
for lista in creditos['crew']:
    otherList = eval(lista)  # Convierto a lista
    
    # Verificar si la lista está vacía
    if len(otherList) == 0:
        # Si la lista está vacía, asignar valores nulos a las listas correspondientes
      
        id_crew_val= None
        credit_job_val = None
        credit_name_val = None
    else:
        # Obtener los valores de cada campo en la lista
        id_crew_vals = [item.get('id') for item in otherList]
        credit_job_vals= [item.get('job') for item in otherList]
        credit_name_vals = [item.get('name') for item in otherList]
        #credit_profile_path_vals = [item.get('profile_path') for item in otherList]

       
        id_crew_val =id_crew_vals
        credit_job_val= credit_job_vals
        credit_name_val= credit_name_vals
        
    # Agregamos los valores a las listas correspondientes

   
    id_crew_list.append( id_crew_val )
    credit_job_list.append(credit_job_val)
    credit_name_list.append(credit_name_val)
   
# Asignamos los valores al DataFrame original

creditos['id_director'] = id_crew_list
creditos['credit_job'] = credit_job_list
creditos['credit_name'] = credit_name_list

# Mostrar el DataFrame resultante
creditos.head(2)

,crew,id,cast_id,cast_character,cast_credit_id,cast_gender,id_actors,cast_name,cast_order,cast_profile_path,id_director,credit_job,credit_name
0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[Director, Screenplay, Screenplay, Screenplay,...","[John Lasseter, Joss Whedon, Andrew Stanton, J..."
1,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6...","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Executive Producer, Screenplay, Original Musi...","[Larry J. Franco, Jonathan Hensleigh, James Ho..."

Creamos dataframe creditos.

In [416]:

creditos.to_csv('creditos.csv', index=False) #Creamos el dataframe con la columna cast desanidada y crew teniendo en cuenta algunas consideraciones, columnas necesarias para crear la función.

In [417]:
creditos.drop('crew',axis=1, inplace=True)  #### elimino la columna crew

In [418]:
# Realizamos una combinación basada en la columna 'id'
data_combined = pd.merge(NewData, creditos, on='id', how='inner')

data_combined.head(2)

,id_belongs_to_collection,name_belongs_to_collection,id_genres,name_genres,id_companies,name_companies,iso_3166_1_countries,name_countries,iso_639_1_languages,name_languages,...,cast_character,cast_credit_id,cast_gender,id_actors,cast_name,cast_order,cast_profile_path,id_director,credit_job,credit_name
0,10194.0,Toy Story Collection,"[16, 35, 10751]","[Animation, Comedy, Family]",[3],[Pixar Animation Studios],[US],[United States of America],[en],[English],...,"[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[Director, Screenplay, Screenplay, Screenplay,...","[John Lasseter, Joss Whedon, Andrew Stanton, J..."
1,NaN,None,"[12, 14, 10751]","[Adventure, Fantasy, Family]","[559, 2550, 10201]","[TriStar Pictures, Teitler Film, Interscope Co...",[US],[United States of America],"[en, fr]","[English, Français]",...,"[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6...","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Executive Producer, Screenplay, Original Musi...","[Larry J. Franco, Jonathan Hensleigh, James Ho..."

In [419]:
data_combined.to_csv('data_combined.csv', index=False)   #creamos el archivo CSV